@font-face {
  font-family: "Swiss";
  src: url('../fonts/swiss-721/Swiss\ 721\ Black.otf');
  font-weight: black;
  font-style: black;
}

@font-face {
  font-family: "Swiss";
  src: url('../fonts/swiss-721/Swiss\ 721\ Bold.otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Swiss";
  src: url('../fonts/swiss-721/Swiss\ 721\ Medium.otf');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: "Swiss";
  src: url('../fonts/swiss-721/Swiss\ 721\ Thin.otf');
  font-weight: thin;
  font-style: thin;
}
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat/Montserrat-Black.ttf');
  font-weight: black;
  font-style: black;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat/Montserrat-Thin.ttf');
  font-weight: thin;
  font-style: thin;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.item{
  margin-bottom: 150px;
}
.subItem{
  margin-bottom: 100px;
}

html {
  font-size: 16px;
}









/* =================== SlideShow ==================== */
.slick-dots {
  bottom: -50px!important;
}

.slick-dots li {
  width: 25px!important;
}

.slick-dots li button:before{
  font-size: 10px!important;
  color: white!important;
}
.slick-dots li.slick-active button:before{
  color: white!important;
}

.slick-prev {
  left: 5%!important;
}
.slick-next {
  right: 5%!important;
}